.Rproj.user
.Rproj.user*
.RData
.Ruserdata
scratch.work.R
knnGA.Rproj
*.DS_Store
src/epistasisGA.o
src/epistasisGAGE.so
doc
Meta
src/RcppExports.o
/doc/
/Meta/
epistasisGA.Rproj
epistasisGA.Rproj
.DS_Store
.Rhistory
.rapp.history
src/epistasisGA.o
src/RcppExports.o
src/epistasisGA.so
data/.DS_Store
R/.DS_Store
src/.DS_Store
doc
Meta
/doc/
/Meta/
epistasisGA_GxE.Rproj
