.Rproj.user
.Rproj.user*
.RData
.Ruserdata
scratch.work.R
epistasisGA.Rproj
.DS_Store
.Rhistory
.rapp.history
src/epistasisGA.o
src/RcppExports.o
src/epistasisGA.so
data/.DS_Store
R/.DS_Store
src/.DS_Store
doc
Meta

